<html>

<head>
  <title>
    {% block sub_title '' %}
    {% block title 'Mapa' %}
  </title>
</head>

<body>
  <h1>Mapa</h1>
  <hr/>
  
  {% block body %}
    Bienvenido a la Aplicación !
  {% endblock %}

</body>

</html>